/* @import url("./no-foo.css"); */
:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --ShadowColor: #dddddd;
  --White: #ffffff;
  font-size: 13px;
}
body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-component {
  box-shadow: 10px 10px 10px var(--ShadowColor);
  height: 510px;
  width: 325px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--White);
}
.image {
  height: 200px;
  width: 100%;
  text-align: center;
}
.text_container {
  margin: 13% 10% 11.8%;
  color: var(--VeryDarkGrayishBlue);
}
.text_container h1 {
  font-size: 1.2em;
  padding-bottom: .05em;
}
.text_container p {
  font-size: 1.01em;
  color: var(--DesaturatedDarkBlue);
  line-height: 1.6em;
  
}
